<div class="d-flex container">
  <div class="row">
    <div class="col col-12 col-md-6">
      <img class="w-100" src="../../assets/IMG_8939png.png" />
    </div>
    <div class="col col-12 col-md-6">
      <p>
        Amante dei libri, della letterature e delle culture tutte, provengo da
        una percorso accademico umanistico, che ho voluto arricchire con un
        corso di alta formazione in ambito tech, per sviluppare il mio pensiero
        e le mie potenzialità lavorative a 360°, ma soprattutto per prendere
        parte attiva alla rivoluzione digitale che caratterizza la nostra era.
        Ho deciso dunque di iscrivermi al bootcamp full-time di EPICODE, che ho
        concluso dopo sei mesi d'intenso lavoro, per lo più pratico, ottenendo
        la certificazione come full-stack developer. Sapevo che sarebbe stata
        una sfida, e che sicuramente avrei scoperto un ambito interessante e
        stimolante. Ma ho scoperto molto di più. Un mondo labirintico, di
        infiniti linguaggi. Un meraviglioso universo in continua espansione.
        Sebbene con una partenza in salita, ho raggiunto risultati
        significativi, riuscendo a sviluppare progetti di qualità in completa
        autonomia, e lavorando in armonia anche in contesti di gruppo.
        Disciplina ed impegno costante mi hanno sempre portata a raggiungere i
        miei obiettivi lavorativi e formativi, e ora sono alla ricerca di un
        posto di lavoro che mi permetta di continuare a crescere
        professionalmente e personalmente.
      </p>
    </div>
  </div>
</div>
