.carousel{
  height: 30vh;
  width: auto !important;
  background-color: #7955484d;
}

.carousel-item{
  text-align: -webkit-center;
}

.carousel-item img{
  height: 30vh;
  width: initial;
}

.carousel-item .wider-image{
  width: initial;
 }

@media screen and (max-width: 476px){
 .carousel.item .wider-image{
 width: -webkit-fill-available;
 }
}

@media screen and (max-width:1000px){
  .carousel-item .wider-image{
  width: 100%;
}
}




